* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #F4B106;
  background-size: cover;
}

.mainbox {
  position: relative;
  width: 400px;
  height: 400px;
}


.arrow {
  position: absolute;
  right: -20%;
  top: 48%;
  width: 25%;
}

.wheel_img {
  position: absolute;
  width: 132%;
  top: -3.7rem;
  left: -4.1rem;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.logo {
  position: absolute;
  width: 100px;
  right: 5%;
  top: 2%;
}

.shopName {
  position: absolute;
  right: 45%;
  top: 2%;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.para1 {
  position: absolute;
  display: none;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #000000;
  overflow: hidden;
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: #F4B106;
}

.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: black;
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: #F4B106;
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: black;
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background: #F4B106;
}

.box2 .span1 {
  background: black;
}

.box2 .span2 {
  background: #F4B106;
}

.box2 .span3 {
  background: black;
}

.box2 .span4 {
  background: #F4B106;
}

.box2 .span5 {
  background: black;
}



.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  font-size: 20px;
}

.box1 .span1 b {
  position: absolute;
  top: 38%;
  right: 71%;
  transform: rotate(200deg);
  text-align: center;
}

.box1 .span2 b {
  position: absolute;
  top: 20%;
  right: 68%;
  transform: rotate(-130deg);
  color: white;
}

.box1 .span3 b {
  position: absolute;
  top: 15%;
  right: 36%;
  transform: rotate(-90deg);
}

.box1 .span4 b {
  position: absolute;
  top: 21%;
  right: 21%;
  transform: rotate(-45deg);
  color: white;
}

.box1 .span5 b {
  position: absolute;
  top: 38%;
  right: 10%;
  transform: rotate(-15deg);
  text-align: center;
}

.box2 .span1 b {
  position: absolute;
  top: 38%;
  right: 71%;
  transform: rotate(200deg);
  color: white;
}

.box2 .span2 b {
  position: absolute;
  top: 20%;
  right: 68%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 b {
  position: absolute;
  top: 15%;
  right: 36%;
  transform: rotate(270deg);
  color: white;
}

.box2 .span4 b {
  position: absolute;
  top: 21%;
  right: 21%;
  transform: rotate(310deg);
}

.box2 .span5 b {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: rotate(-20deg);
  text-align: center;
  color: white;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}

audio {
  display: none;
}

@keyframes animateArrow {
  50% {
    right: -50px;
  }
}

@media (max-width: 576px) {
  .mainbox {
    width: 75vw;
    height: 75vw;
    max-width: 450px;
    max-height: 450px;
  }

  .font {
    font-size: 12px;
  }

  .shopName {
  right: 28%;
  top: 18%;
}

.para1 {
  display: block;
  right: 33%;
  top: 22%;
}

  .spin {
    width: 65px;
    height: 65px;
    font-size: 20px;
  }

  .wheel_img {
    width: 132%;
    top: -3rem;
    left: -3rem;
  }
}